<section class="job-alert-box container py-[64px] flex flex-col justify-center">
    <app-title [title]="'Stay Updated With Job Alerts'"></app-title>

    <div class="max-w-[670px] text-center body-Medium-SB mx-auto mt-[32px]">Stay ahead of the competition: Get a
        competitive edge
        by being
        among the first to apply
        for fresh job
        opportunities. Subscribe to newsletter with email
        for amazing information Daily.</div>

    <div class="body-small mt-[16px] text-center mx-auto">Don't miss out on your dream job! Set up job alerts now and
        stay ahead in
        your
        job search.</div>


    <form class="h-[40px] max-w-[500px] w-[100%] mt-[32px] mx-auto flex justify-between items-center gap-[8px]">
        <input type="text" class="grow px-[28px] py-[12px] label-large" placeholder="example@gmail.com">

        <button class="py-[12px] px-[14px] rounded-[5px]">Subscribe</button>
    </form>
</section>