<section class="featured-box container py-[64px]">
    <app-title [title]="'Featured Companies'"></app-title>

    <article class="mt-[56px] flex gap-[16px] justify-center flex-wrap">

        <div class="company min-w-[230px] min-h-[108px] py-[24px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/avast.png">
            </figure>
        </div>

        <div class="company min-w-[230px] min-h-[108px] py-[24px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/cube-tech.png">
            </figure>
        </div>

        <div class="company min-w-[230px] min-h-[108px] py-[24px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/exetech.png">
            </figure>
        </div>

        <div class="company min-w-[230px] min-h-[108px] py-[24px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/pixels.png">
            </figure>
        </div>

        <div class="company py-[8px] px-[52px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/company.png">
            </figure>
        </div>

        <div class="company py-[8px] px-[52px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/dots-tech.png">
            </figure>
        </div>

        <div class="company py-[8px] px-[52px] grid place-items-center">
            <figure class="w-[124px] h-[94px]">
                <img src="assets/image/stark-solution.png">
            </figure>
        </div>

    </article>
</section>