@import '/src/colors';

.title{
    position: relative;
    width: max-content;
    padding-bottom: 12px;
    margin: auto;
    padding-right: 4px;
    padding-left: 4px;
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: auto;
        height: 5px;
        background: $blue-400;
    }
}