@import "/src/colors";

.search-box {
    border: 2px solid $neutral-500;
    color: $text-black;

    button {
        background: $blue;
        color: $text-white;
    }

    .title,
    .location {
        height: max-content;
        input {
            &::placeholder {
                font-size: 14px;
            }
        }
    }

    .search-result-box {
        color: $text-black;
    }

}

.pagination {
    button {
        width: 35px;
        height: 35px;
        background: #fff;
        @apply rounded-full;
        color: $text-black;
    }
    .blue {
        background-color: $blue;
        color: #fff;
    }
}