<section class="filter-box w-[300px] pt-[24px] pb-[16px] px-[16px] rounded-[20px] flex flex-col gap-[14px]">
    <h4 class="pb-[4px] body-large filter mb-[16px]">Filter</h4>

    <div class="">
        <h5 class="body-Medium-MD">Time</h5>

        <select>
            <option>Full Time</option>
            <option>Part Time</option>
        </select>
    </div>

    <div class="">
        <h5 class="body-Medium-MD">Industry</h5>

        <select>
            <option>Tech</option>
            <option>Medical</option>
            <option>Finance</option>
            <option>Sales</option>
            <option>Marketing</option>
        </select>
    </div>

    <div>
        <h5 class="body-Medium-MD">Level</h5>

        <div class="checkbox">
            <input type="checkbox" id="entry-level">
            <label class="body-small" for="entry-level">Entry-Level</label><br>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="mid-level">
            <label class="body-small" for="mid-level">Mid-Level</label><br>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="experienced">
            <label class="body-small" for="experienced">Experienced</label><br><br>
        </div>
    </div>


    <div class="">
        <h5 class="body-Medium-MD">Location</h5>

        <select>
            <option>California</option>
            <option>Kathmand</option>
            <option>Texas</option>
        </select>
    </div>

    <div class="space-x-[8px]">
        <button class="filter-btn label-Medium-SB w-[72px] h-[40px] rounded-[10px]">Filter</button>
        <button class="reset-btn label-Medium-SB w-[72px] h-[40px] rounded-[10px]">Reset</button>
    </div>
</section>