@import "/src/colors";

form {
    color: $text-black;
    border: 1px solid $grey;

    .header {
        border-bottom: 1px solid $text-black;
    }

    input {
        border: 1px solid $grey;
        padding: 8px 16px;
    }

    button {
        background-color: $blue;
        color: $text-white;
        transition: .4s;
        
        &:disabled{
            opacity: 0.7;
        }

        &:hover{
            background-color: $blue-500;
        }
        
        &:active{
            background-color: $blue-700;
        }
    }
    span a {
        color: $blue;
    }
}
