@import "/src/colors";

.headline {
    color: $blue-200;
    font-size: 16px;
    line-height: 20px;

    @media only screen and (max-width: 1000px) {
        color: $neutral-800;
    }
}

h2 {
    @media only screen and (max-width: 1000px) {
        color: $blue-400;
    }
}
