@import "/src/colors";

.job-alert-box {
    color: $text-white;
    background-color: $blue-900;
    form {
        input{
            border: 1px solid $neutral-500;

        }

        button {
            background: $blue-400;
            color: $text-white;
        }
    }
}
