<section class="jobs-hero-box h-[250px] flex items-center overflow-hidden">

    <article class="container flex items-center relative h-[100%] z-10">
        <div class="relative z-20">
            <h3 class="headline-large max-w-[304px] w-[100%]">Explore and Discover
                Your Dream Job</h3>

            <p class="label-large mt-[8px]">Discover your dream job today and unlock a world of possibilities.</p>
        </div>

        <div class="absolute top-[40px] right-[0] z-0 max-w-[339px] w-[100%] h-[334px] max-sm:right-[-80px] transition-all">
            <div class="circle absolute top-0 right-0 w-[270px] h-[270px] rounded-full"></div>
            <div class="circle circle2 absolute bottom-0 left-0 w-[270px] h-[270px] rounded-full"></div>
        </div>
    </article>

</section>