@import "/src/colors";

.jobs-hero-box {
    background-color: $blue-400;
}

.circle {
    background: linear-gradient(130.35deg, #283686 0%, rgba(43, 63, 173, 0) 68.34%);
}

.circle2 {
    transform: rotate(-2.49deg);
}
