<form (submit)="submit($event)"
    class="w-[332px] px-[20px] pt-[24px] pb-[16px] space-y-[16px] rounded-[20px] flex flex-col max-md:mt-[24px]">
    <div class="header py-[8px]">
        <h2 class="headline-large">Login</h2>
    </div>

    <div class="gap-[8px] flex flex-col">
        <label class="body-Medium-SB">Email</label>
        <input class="body-small" [(ngModel)]="inputValue.email" name="email" (onchange)="inputHandler($event)"
            class="h-[40px] rounded-[10px]" type="email">
        <p class="error label-Medium">{{error.email}}</p>
    </div>

    <div class="gap-[8px] flex flex-col">
        <label class="body-Medium-SB">Password</label>
        <input class="body-small" [(ngModel)]="inputValue.password" name="password" (onchange)="inputHandler($event)"
            class="h-[40px] rounded-[10px]" type="password">
        <p class="error label-Medium">{{error.password}}</p>
    </div>

    <button class="h-[40px] rounded-[10px] py-[8px]">Login</button>

    <span class="label-Medium text-center">Don't have an account? <a href="#" routerLink="/register"
            class="signin label-Medium-SB underline underline-offset-2">Register</a></span>
</form>