<article class="job pt-[32px] rounded-[20px] overflow-hidden">

    <div class="top px-[4%] pb-[25px] flex justify-between items-center">

        <div class="flex items-center gap-[16px]">
            <figure class="w-[70px] h-[70px]">
                <img src="assets/image/cube-tech.png">
            </figure>

            <div class="">
                <h3 class="title mb-[0px]">Web Developer</h3>
                <span class="sub-title label-large">Cube Tech pvt Ltd</span>.
            </div>
        </div>

        <div
            class="flex gap-[16px] justify-between max-w-[36%] w-[100%] max-md:flex-col max-md:gap-[4px] max-md:items-end">
            <div class="flex items-center">
                <figure class="w-[24px] h-[24px]">
                    <img src="assets/svg/doller.svg">
                </figure>

                <span class="label-large sub-title">Negotiable</span>
            </div>

            <span class="sub-title label-large">Full Time</span>
        </div>

    </div>

    <div class="bottom px-[4%] py-[8px] flex justify-between items-center max-md:flex-wrap">
        <div class="label-Medium-SB">Experience: <span class="label-Medium ml-[4px]">1-2 years</span></div>

        <div class="flex items-center gap-[4px]">
            <figure class="w-[12px]">
                <img src="assets/svg/location.svg">
            </figure>

            <span class="label-Medium-SB">Silesia, New York </span>
        </div>

        <a href="#" class="label-Medium-SB py-[4px] px-[12px] bg-blue-400 rounded-[5px]">Apply Now >></a>
    </div>
</article>