// text color
$text-white: #fff;
$text-black: #2D2D2D;

// Design System
$neutral-0: #fdfdfd;
$neutral-100: #fcfcfc;
$neutral-200: #f8f8f8;
$neutral-300: #e8e8e8;
$neutral-400: #F2F2F2;
$neutral-500: #bababa;
$neutral-600: #aeaeae;
$neutral-700: #8b8b8b;
$neutral-800: #686868;
$neutral-900: #515151;

$blue: #405BF5;
$blue-0: #eff1fe;
$blue-100: #e6eafd;
$blue-200: #ccd3fb;
$blue-300: #5a71f2;
$blue-400: #5166da;
$blue-500: #485ac2;
$blue-600: #4455b6;
$blue-700: #364491;
$blue-800: #28336d;
$blue-900: #1f2855;


