<section class="max-lg:text-black">
    <!-- <figure class="h-[100vh] w-[100%] absolute top-0 left-0">
        <img src="assets/svg/login-svg.svg">
    </figure> -->

    <div class=" mt-[64px]">

        <div>
            <h2 class="display-small max-md:text-center">Jotex</h2>
            <div class="headline-Medium mt-[12px] max-w-[323px] w-[100%] max-md:text-center">Your Gateway to Success:
                Find Your Dream from our
                endless
                opportunities.</div>
        </div>

        <figure class="w-[303px] mt-[32px] max-md:hidden">
            <img src="assets/svg/register-illustration.svg">
        </figure>
    </div>
</section>