<section class="footer-box h-[500px]">
    <article class=" pt-[64px] flex-col flex justify-between h-[500px]">

        <article class="container flex justify-between h-[100%] max-lg:flex-col max-lg:gap-[32px]">
            <div class="max-w-[428px]">
                <h3 class="mb-[16px] headline-large">JOTEX</h3>

                <p class="body-Medium-MD">Discover your dream job today and unlock a world of possibilities. Don't
                    settle
                    for anything less than
                    what you deserve - let our Job Portal guide you towards a fulfilling and rewarding career. Your
                    future
                    awaits!</p>

                <div class="flex gap-[4px] mt-[12px]">
                    <figure class="w-[20px] h-[20px]">
                        <img src="assets/svg/facebook.svg">
                    </figure>

                    <figure class="w-[20px] h-[20px]">
                        <img src="assets/svg/instagram.svg">
                    </figure>

                    <figure class="w-[20px] h-[20px]">
                        <img src="assets/svg/twitter.svg">
                    </figure>

                    <figure class="w-[20px] h-[20px]">
                        <img src="assets/svg/youtube.svg">
                    </figure>
                </div>
            </div>

            <div class="flex gap-[32px]">

                <div>
                    <h4 class="body-Medium-SB">Company</h4>

                    <ul class="body-Medium mt-[12px] space-y-[8px]">
                        <li>> Terms and Conditions</li>
                        <li>> Privacy Policy</li>
                        <li>> FAQs</li>
                    </ul>
                </div>

                <div>
                    <h4 class="body-Medium-SB">About</h4>

                    <ul class="body-Medium mt-[12px] space-y-[8px]">
                        <li>> Team</li>
                        <li>> Blog</li>
                        <li>> Contact</li>
                    </ul>
                </div>

            </div>

        </article>

        <div class="relative">


            <span class="label-Medium-SB absolute bottom-[30px] left-[50%] z-[10] translate-x-[-50%]">@Copyright2023</span>


            <img class="mt-auto bottom-0 w-[100vw] h-[100px] object-cover z-0 left-0 right-0"
                src="assets/svg/wave-footer.svg">
        </div>
    </article>
</section>