<main class="relative max-w-[1440px] h-[580px] mx-auto max-md:h-[680px]">

    <section class="h-[max-content] container flex absolute left40 right-0 z-30 top-[90px]">
        <div class="w-[416px] space-y-[16px] h-[max-content] txt-black">
            <h3 class="headline-large">JOTEX: Discover Your Dream Career</h3>
            <div class="body-Medium-MD">Your Gateway to Success: Find Your Dream from our endless opportunities.</div>
            <div class="body-Medium-MD">Start Your Journey to Success</div>
        </div>

        <div class="circle-big min-w-[304px] h-[304px] ml-auto rounded-full top-[45px] relative"></div>
    </section>


    <section class="absolute bottom-0 left-0 right-0 h-[280px] z-20 container max-md:h-[400px]">

        <figure class="absolute top-0 bottom-0 left-0 right-0 z-[-1]">
            <img class="object-cover" src="assets/svg/wave.svg">
        </figure>

        <div
            class="search  translate-y-[100px] headline-Medium z-20 flex flex-col gap-[24px] max-md:translate-y-[160px]">
            <h4 class="headline-Medium">“Search Your Best Opportunities”</h4>

            <div class="flex items-end gap-[32px] max-md:flex-wrap max-md:gap-[24px]">

                <div class="max-w-[214px] w-[100%] flex flex-col gap-[4px] max-md:w-[40%]">
                    <h5 class="body-Medium-MD">Job Title</h5>
                    <input type="text" class="h-[34px]">
                </div>

                <div class="max-w-[214px] w-[100%] flex flex-col gap-[4px]  max-md:w-[40%]">
                    <h5 class="body-Medium-MD">Location</h5>
                    <select class="text-black h-[34px]">
                        <option>sd</option>
                        <option>sd</option>
                        <option>sd</option>
                    </select>
                </div>

                <div class="max-w-[214px] w-[100%] flex flex-col gap-[4px] max-md:w-[40%]">
                    <h5 class="body-Medium-MD">Experience</h5>
                    <select class="h-[34px]">
                        <option>sd</option>
                        <option>sd</option>
                        <option>sd</option>
                    </select>
                </div>

                <button class="min-w-[88px] h-[34px] rounded-[8px] label-Medium-SB">Search</button>
            </div>
        </div>

    </section>

</main>